<html>
<head>
  <style>
    body {
      background: <%= bgcolor %>;
    }
  </style>
</head>
<body>
  <p>
    Number guessing game...can you guess the number??
  </p>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
  <%= message %>
  Remaining guesses <%= remaining_guesses %>
</body>
</html>
